<!-- Your question -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="marged card">
        <h2><%= @question %></h2>
        <p class="pseudo">- You</p>
      </div>
    </div>
  </div>
</div>

<!-- Coach's Answer -->
<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class="marged card">
        <h2><%= @coach %></h2>
        <p class="pseudo">- Your coach</p>
      </div>
    </div>
  </div>
</div>

<!-- link  -->

