<form class="form-inline padded" action="/answer">
  <h1>STUPID COACH</h1>
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" class="form-control" placeholder="What time is it?">
  <input type="submit" value="Go on!" class="form-control btn btn-danger">
</form>
